.page-index {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 35px 0 50px;

        &__title {
            margin: 0 0 15px;
            font-size: 25px;
            line-height: 1;
            text-align: center;

            @media(--tablet) {
                margin: 0 0 20px;
                font-size: 30px;
            }
        }

        &__subtitle {
            margin: 0;
            font-size: 14px;
            line-height: 1;
            text-align: center;

            @media(--tablet) {
                font-size: 16px;
            }
        }
    }

    &__content {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column-reverse;

        @media(--desktop) {
            flex-direction: row;
        }
    }

    &__posts {
        margin: 0 20px 0 0;
        width: 100%;

        @media(--desktop) {
            width: calc(78% - 20px);
        }
    }

    &__words {
        width: 100%;
        max-width: 100%;
        padding: 0 0 20px;
        display: flex;
        align-items: baseline;

        @media(--desktop) {
            flex-direction: column;
            align-items: flex-start;
            width: 22%;
            background: $darkBgColor;
            border-radius: 16px;
            padding: 20px;
        }

        &__title {
            margin: 0;
            min-width: 165px;
            font-size: 16px;
            font-weight: normal;

            @media(--desktop) {
                margin: 0 0 20px;
                min-width: 0;
                font-weight: bold;
                font-size: 18px;
            }

            &:after {
                content: ':';
                @media(--desktop) {
                    content: none;
                }
            }
        }

        &__list {
            margin: 0;
            padding: 0 0 0 10px;

            @media(--tablet) {
                padding: 0 0 0 30px;
            }

            &__item {
                display: inline;
                font-size: 14px;

                &:after {
                    content: ', ';
                    @media(--desktop) {
                        content: none;
                    }
                }

                &:last-child:after {
                    content: '';
                }

                @media(--desktop) {
                    display: list-item;
                    word-break: break-all;
                    font-size: 16px;
                }
            }
        }
    }
}
