.button {
    display: inline-block;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #D3D3D3;
    transition: background-color .2s;
    user-select: none;
    outline: none;
    padding: 6px 10px 5px;
    font-size: 14px;
    text-align: center;

    @media(--tablet) {
        padding: 8px 12px 6px;
        font-size: 16px;
    }

    &:hover, &:focus {
        background-color: #C9C9C9;
    }

    &:active {
        background-color: #BFBFBF;
    }

    &--primary {
        background-color: #FF6A13;
        color: #FFF;
        
        &:hover, &:focus {
            background-color: #EF6613;
        }
        
        &:active {
            background-color: #E36913;
        }

        input:focus + label& {
            background-color: #EF6613;
        }
    }

    input:focus + label& {
        background-color: #C9C9C9;
    }
}
