.form {
    position: relative;
    background: $darkBgColor;
    padding: 20px;
    border-radius: 16px;
    overflow: hidden;

    &__header {
        font-size: 20px;
        margin: 0 0 20px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @media(--desktop) {
            flex-direction: row;
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;

        @media(--desktop) {
            margin: 0 40px 0 0;
            width: 80%;
        }
    }

    &__field {
        width: 100%;
        margin: 0 0 7px;

        input, textarea {
            border: 1px solid #ccc;
            padding: 8px 9px 7px;
            outline: none;
            width: 100%;
            box-sizing: border-box;
            transition: border-color .2s;
        }

        textarea {
            max-width: 100%;
            min-width: 100%;
            height: 100px;
        }

        &--short {
            width: 75%;
            @media(--tablet) {
                width: 50%;
            }
        }

        &--error input, &--error textarea {
            border-color: #f44336;
        }

        &__error-text {
            display: block;
            color: #f44336;
            font-size: 12px;
            margin-top: 5px;
            min-height: 15px;
        }
    }

    &__file {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type=file] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        &__info {
            display: inline;
            align-items: center;
            font-size: 14px;
            word-break: break-all;
            margin: 0 10px 0 0;
        }

        &__clear {
            display: inline-block;
            padding: 6px 6px 5px 5px;
            margin: 2px 0 0 10px;
            font-size: 16px;
            line-height: 9px;
            align-items: center;
            justify-content: center;
            background-color: #FF6A13;
            color: #FFF;
            border-radius: 10px;
            transform: rotate(45deg);
            user-select: none;
            transition: background-color .2s;
            cursor: pointer;

            &:hover {
                background-color: #EF6613;
            }
            &:active {
                background-color: #E36913;
            }
        }

        & .button {
            min-width: 90px;
        }
    }

    &__actions {
        margin: 20px 0 0;
        @media(--desktop) {
            margin: 0;
        }
    }

    &__cover {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #000;
        transition: opacity .5s;

        &__progress {
            display: inline-block;
            width: 80px;
            height: 80px;

            &:after {
                content: " ";
                display: block;
                width: 64px;
                height: 64px;
                margin: 8px;
                border-radius: 50%;
                border-width: 6px;
                border-style: solid;
                border-color: #fff transparent #fff transparent;
                box-sizing: border-box;
            }
        }
    }

    &--loading &__cover {
        width: 100%;
        height: 100%;
        opacity: .3;

        &__progress {
            animation: progress 1.2s linear infinite;
        }
    }
}

@keyframes progress {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
