.post {
    background: $darkBgColor;
    padding: 20px;
    border-radius: 16px;
    margin: 0 0 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px;

        &__title {
            margin: 0;
            font-size: 18px;
        }

        &__date {
            font-size: 14px;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
    }

    &__picture {
        margin: 0 20px 0 0;
        width: 75px;
        height: 75px;

        @media(--tablet) {
            width: 150px;
            height: 150px;
        }
    }

    &__body {
        margin: 0;
    }
}
